.catalog-section-mesh {
    @include flex-mesh(2, 2, (default: 5, md-down: 3, mxs: 2));

    & > * {
        flex-grow: 1;
    }
}

.catalog-section-card {
    position: relative;
    max-height: 353px;

    &:before {
        pointer-events: none;
        transition: inherit;
        content: '';
        @include centering-size();
        background: linear-gradient(180deg, rgba(244, 122, 0, 0) 0%, rgba(244, 122, 0, 0.91) 100%);
        backdrop-filter: blur(3px);
        z-index: 1;
        opacity: 0;
    }

    @include breakpoint(mxs) {
        max-height: 200px;
    }
    @include breakpoint(md-up) {
        &:nth-child(-n + 5) {
            .catalog-section-card {
                &__image {
                    @include imageSize(282, 353);
                }
            }
        }
    }

    &__link {
        @include centering-size();
        z-index: 2;
    }

    &__image {
        transition: inherit;
        @include imageSize();
        max-height: 100%;
        filter: grayscale(1);
        @include breakpoint(mxs) {
            @include imageSize(175, 160);
        }
    }

    &__info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: customClamp(20, 10);
        z-index: 1;
        transition: inherit;

        &:before {
            pointer-events: none;
            transition: inherit;
            content: '';
            backdrop-filter: blur(5px);
            @include centering-size();
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
            z-index: -1;
        }
    }

    &__title {
        @include line-clamp(customClamp(24, 18), 2);
        text-transform: uppercase;
    }

    @include hover {
        &:before {
            opacity: 1;
        }
        .catalog-section-card {
            &__image {
                filter: grayscale(0);
            }

            &__info {
                &:before {
                    opacity: 0;
                }
            }
        }
    }
}
