.footer {
    background-color: $background-color;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: customClamp(50, 20);
    padding-bottom: customClamp(60, 20);
    @include breakpoint(smxs) {
        flex-direction: column;
    }
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-title {
    font-weight: 500;
    text-transform: uppercase;
    color: $text-color-alt;
}

.footer-title-alt {
    font-weight: 500;
    color: $text-color-alt;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    font-weight: 500;

    li {
        list-style: none;
        margin: 0;
    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-registration {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-bottom {
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding-top: customClamp(20, 10);
    padding-bottom: customClamp(20, 10);
    border-top: 1px solid rgba($text-color, .1);
    @include breakpoint(xs) {
    flex-direction: column;
}

    a {
        font-size: 14px;
    }
}

