/*
Ця функція, яку названо customClamp, призначена для обмеження значень у заданому діапазоні, пропорційно розміру екрану. Давайте розглянемо її структуру та функціональність:

Аргументи функції:

$maxValue: Це максимальне значення, від якого ми хочемо обмежити.
$minValue: Це мінімальне значення, до якого ми хочемо обмежити.
$maxScreen: Розмір екрану, до якого ми хочемо прив'язати максимальне значення.
$minScreen: Розмір екрану, до якого ми хочемо прив'язати мінімальне значення.
Результат функції:

Функція повертає значення, обмежене у заданому діапазоні, пропорційно розміру екрану.
Опис алгоритму функції:

Використовуючи clamp, функція обмежує значення у заданому діапазоні.
Вираз calc(...) обчислює пропорційне значення відносно розміру екрану.

Формула використовує лінійну інтерполяцію між $minValue і $maxValue в залежності від того,
як відноситься поточний розмір екрану (100vw) до $minScreen і $maxScreen.

Вираз clamp(...) забезпечує, що обчислений результат не виходить за межі вказаного діапазону.

Ця функція корисна для створення адаптивних дизайнів, де ви хочете, щоб певні значення (наприклад, розмір шрифту або відступи) змінювалися пропорційно розміру екрану,
але залишалися у межах певного діапазону для забезпечення візуальної гармонії.

Використання міксина для властивості font-size
h1 {
  font-size: customClamp(36, 24, 1200, 320);
}

p {
  font-size: customClamp(18, 14, 1200, 320);
}


У цьому прикладі customClamp використовується для налаштування розміру шрифту (font-size) для заголовків (h1) та абзаців (p).
Параметри міксина передають максимальне та мінімальне значення шрифту, а також максимальні та мінімальні значення ширини екрану, на які потрібно реагувати.
Це дозволяє автоматично адаптувати розмір шрифту в залежності від ширини екрану, забезпечуючи більш гнучкий та адаптивний дизайн.
 */

@function customClamp($maxValue, $minValue, $maxScreen:$maxScreen, $minScreen:$minScreen) {
  @return clamp(#{$minValue}px, calc(#{$minValue}px + (#{$maxValue} - #{$minValue}) * ((100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen}))), #{$maxValue}px)
}