$font-family: 'Gilroy', sans-serif;
$font-family-alt: $font-family;
$font-family-validation: $font-family;
$font-family-headings: $font-family-alt;

$container: 1390;
$maxScreen: 1450;
$minScreen: 500;

$text-color: #24242E;
$text-color-alt: #FFFFFF;
$heading-color: $text-color;
$background-color: #FFFFFF;
$color1: #AB1113;
$color2: #02084C;
$color3: #031372;
$color4: #5891E5;
$color5: #E6E6ED;
$color6: #808080;
$color7: #F5F5F8;

$link-color: inherit;
$link-hover-color: $color1;


$font-size: customClamp(16, 14);
$font-size-paragraph: 16px;
$paragraph-margin: 24px; //margin-bottom
$paragraph-height: 1.5; //line-height
$paragraph-color: $text-color;
$list-image: false; //list.png

$heading-size-max: 56, 32, 28, 20, 18, 16;
$heading-size-min: 28, 26, 24, 20, 18, 16;
$heading-margin-max: 30, 20, 20, 20, 20, 20;
$heading-margin-min: 20, 15, 15, 15, 15, 15;
$heading-font-weight: 800, 600, 600, 600, 600, 600; // 1 = "normal"(400)
$heading-uppercase: 1, 1, 1, 0, 0, 0; // 0 = "none", 1 = "uppercase"
$heading-text-align: l, l, l, l, l, l; // c = "center", l = "left", r = "right"


$table-border-color: #d6d6d6;
$table-color: #3c3c3c;
$table-heading-color: false;

$z-index-blocker: 9;
$z-index-modal: 10;
$z-index-close-modal: 11;